$text-color-default: #787676;
$text-color-primary: #67A7F5;
@mixin flex-center($direction, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.container {
  @include flex-center(column);
  height: 100vh;
  .box__container {
    @include flex-center(column);
    padding: 1rem 5rem 1rem 5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    .header__container {
      margin-bottom: 40px;
      h2 {
        font-size: 20px;
        font-weight: 700;
        color: $text-color-default;
        margin: 0;
      }
    }

    .input__container {
      @include flex-center(column);
    }

    .button__container {
      @include flex-center(row, center, space-between);
      .button__text {
        margin-left: 20px;
        color: $text-color-primary;
        font-weight: 700;
      }
    }
  }
}
