@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

html,
body,
#root .app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

$background-color: #f5f5f5;
body {
  background-color: $background-color;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  ul,
  ol {
    list-style: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
}
